---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <section>
        <h2 class="text-xl font-bold">About Us</h2>
        <p>Learn more about our mission and values.</p>
    </section>
</Layout>
