---
import { ViewTransitions } from "astro:transitions";
import 'animate.css';
import '@/styles/tailwind.css';
import SEO, { type Props as SEOProps } from "@/components/SEO.astro";

export interface Props {
	seo: SEOProps;
}

const { seo}: Props = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO {...seo} />
		<ViewTransitions />
	</head>
	<body class="bg-base text-neutral">
	<header class="bg-primary text-white p-4">
		<h1 class="text-3xl">Astro-Starter</h1>
		<nav>
			<ul class="flex space-x-4">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main class="p-4">
		<slot />
	</main>
	<footer class="bg-secondary text-white p-4 text-center">
		<p>&copy; 2024 Astro-Starter</p>
	</footer>
	</body>
</html>
<style is:global>



</style>
